h1,
h2,
h3,
h4,
h5,
h6 {
  // Remove decorations for header permalinks
  a,
  a:visited,
  a:hover {
    color: inherit;
    text-decoration: none;
  }

  // Add a `#` on hover to indicate a header links to a permalink.
  a:hover:before {
    content: "#";
    float: left;
    width: 0;
    position: relative;
    left: -1em;
    top: 0.25em;
    opacity: 0.5;
    font-size: 0.75em;
  }
}

p {
  line-height: 1.5em;
}

li {
  margin-bottom: 0.5em;
}

.discord-channel {
}

.stewards-handle {
  padding: 0.125em 0.25em;
  border-radius: 0.5em;

  @media (prefers-color-scheme: light) {
    background: #f9f5e8;
    color: #cba837;
  }

  @media (prefers-color-scheme: dark) {
    background: #2f2b22;
    color: #eac645;
  }
}
