---
layout: page
---

<style type="text/css" media="screen">
    .discord-channel {}

    .stewards-handle {
        padding: .125em .25em;
        border-radius: .5em;
    }

    @media (prefers-color-scheme: light) {
        .stewards-handle {
            background: #F9F5E8;
            color: #CBA837;
        }
    }

    @media (prefers-color-scheme: dark) {
        .stewards-handle {
            background: #2F2B22;
            color: #EAC645;
        }
    }
</style>

<p style="text-align: right;"><a href="https://github.com/NorthEndMakerspace/makerspace-policies/edit/main/{{ page.path }}">[Suggest an edit…]</a></p>

{{ content }}
